/**
 * Custom style overrides for the Meta Bind plugin
 */

/* allow for smaller meta bind inputs */
.markdown-rendered.input-width-sm .mb-input input {
    max-width: 50px;
}
/* adjust spacing around meta bind buttons */
.markdown-rendered .mb-button-block {
    margin-block-start: var(--p-spacing);
    margin-block-end: var(--p-spacing);
}
/* Increase size/font of buttons */
.markdown-rendered .mb-button button {
    font-size: var(--font-ui-medium);
    --input-height: 40px;
}
